$white: #ffffff;
$black: #000000;
$dark-grey: #262626;
$medium-grey: #2e3b50;
$orange: #ffb53a;
$orange-dark: #fca00b;
$grey-with-transparency: rgba(38, 38, 38, 0.7);
$grey-hover: rgba(#2e3b50, 0.1);
